.heading{
    width: 100%;
    text-align: center;
}
.heading h1{
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 20px;
}
.heading button{
    margin-top: 40px;
    float: right;
    text-decoration: underline;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 10py;
}
#restart_button{
    bottom: 100px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}
canvas{
    margin-left: fixed;
    margin-right: fixed;
}
li{
    font-size: 20px;
}
#copy_right_footer{
    width: 100%;
    text-align: center;
    bottom: 0px;
    position: fixed;
    background-color: white;
    color: blue;
}

canvas{
    border-style: dotted;
    border-width: 10px;
    border-color: white;
}

#Span{
    display:flex;
    text-align: center; 
}

#canvas{
    margin-left: auto;
}
#webcam{
    margin-right: auto;;
    margin-left: 100px;
}